<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Prestashop - Mobile">

    <listeners>
        <listener class-name="utils.listeners.TestAllureListener"/>
    </listeners>

    <test name="Login tests" >
        <packages>
            <package name="tests.login"/>
        </packages>
    </test>
    <test name="Search tests" >
        <packages>
            <package name="tests.search"/>
        </packages>
    </test>
</suite>

